<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sdew021.friendsofframers">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WheatActivity"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".SugarcaneActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CornActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".UpdatePassword" />
        <activity android:name=".secondActivity"/>
        <activity android:name=".dealsday"/>
        <activity android:name=".orders"/>
        <activity android:name=".start"/>
        <activity android:name=".ConsumerActivity"/>
        <activity android:name=".EditProfile" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Profile_Activity" />
        <activity android:name=".TestDatabase" />
        <activity android:name=".animActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registerActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".farmerActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RiceActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity2"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".DalActivity"
            android:parentActivityName=".MainActivity"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>